html, body {
    margin: 0;
    padding: 0;
    background-color: #3C2B2C;
    color: #fff;
    font-family: 'Young Serif', serif;
}

main {
    color: #fff;
    background-color: #1D1920;
    width: 30%;
    min-width: 400px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}

img {
    width: 100%;
    /* height: 100px; */
    object-fit: fill;
}

#topSection {
    padding: 20px 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#submitSection {
    display: flex;
    flex-direction: column;
    width: 80%;
}

/* #comments-el {
    margin-bottom: 10px;
} */

ul {
    padding-inline-start: 0px;
}

#comments-el {
    margin: 0;
}

#comments-el li {
    margin: 0 auto;
    background-color: #FFEBD8;
    color: #1D1920;
    width: 70%;
    font-size: 14px;
    padding: 10px 20px;
    margin-bottom: 10px;
    list-style: none;
    text-align: left;
}

#input-txt, #input-btn {
    border-radius: 5px;
    text-align: center;
}

#input-txt {
    height: 100px;
    margin-bottom: 10px;
}

#input-txt, #to-field, #from-field  {
    background: none;
    color: #fff;
    padding: 10px;
    border: 1px solid #fcc47a8a;
}

#input-btn {
    background-color: #ffb14a;
    font-weight: 500;
    margin-top: 20px;
    padding: 20px 0;
    color: #1D1920;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

#to-from-container {
    display: flex;
    justify-content: space-between;
}

.address-field {
    min-width: 0;
}

#to-field, #from-field {
    width: 42%;
    border-radius: 5px;
}

.toEl {
    margin-bottom: 10px;
    width: auto;
}

.fromEl {
    margin-top: 10px;
}

.messageEl {
    color: #52302C;
}
